
 *{
    margin: 0px;
    padding: 0px;
  } 
.head{
    width: 100%;
    margin-left: 200px;
}
.navbar{
    display: flex;
    width: 1000px;
    height: 50px;
    padding: 10px;
    justify-content: space-between; 
}
.brand {
    display: flex;
    align-items: center;
}
.nav-options1 {
    display: flex;
    align-items: center;
    width: 386px;
    margin: 0;
    gap: 40px;
    cursor: pointer;
}

.nav-options2 {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fa7436;
    gap: 40px;
    cursor: pointer;
}

.button1 {
    width: 130px;
    height: 45px;
    background-color: #fa7436; 
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.secondbody{
     width: 1000px; 
     
}
.scondhead {
    display: flex;
    width: 100%;
}
.tree{
    display: grid;  
    width: 523px; 
    margin-top: 70px;
}

.get {
    font-family: popins;
    font-size: 58px;
    font-weight: bold;
    width: 522px; 
    
}
.team {
     width: 400px;
     font-size:18px ;
}

.buttonone {
    width: 150px;
    height: 45px;
    background-color: #ffffff;
    border-color: #fa7436;
    border-radius: 5px;
    color:#fa7436;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
}
.secondimg {
    height: 523px;
    width: 523px;
    margin-top: 50px;
}
.Element7 > img {
    width: 573;
    height: 193;
    position: relative;
    right: 50px;
    /* top: 20px; */
    bottom: 10px;
}

.Group {
    width: 350px;
    height: 322px;
    position: relative;
    bottom: 135px;
}
.explore1 {
    width: 153px;
    height: 54px;
    background: rgb(235, 232, 232);
    border-radius: 5px;
    box-shadow: #000000 5%;
    align-content: center;
    position: relative;
    left: 367px;
    bottom: 285px;
}
.explore2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 133px;
    height: 48px;
}

.trophy1 {
    width: 140px;
    height: 56px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: #000000 5%;
    position: relative;
    right: 30px;
    bottom: 470px;
}

.trophy2 {
    display: flex;
    gap: 10px;
    width: 118px;
    height: 48px;
    }
.star1 {
    width: 172px;
    height: 58px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: #000000 5%;
    position: relative;
    bottom: 330px;
    right: 20px;
}
.star2 {
    display: flex;
    gap: 10px;
    width: 113px;
    height: 47px;
}
.navbar-one {
    
    width: 841px;
    height: 124px;
}
.travel-container {
    display: flex;
    padding: 30px;
    width: 693px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 246, 246);
    position: relative;
    left: 145px;
    top: 50px;
    
}


.Servicesone{
    width: 1000px;
    margin-top: 70px;
    padding: 30px;
    height: 600px;
    text-align: center;
    font-size: 40px;  
}
.flight{
    height: 80px;
    width: 100px;
    position: relative;
    left: 900px;
    bottom: 130px;
}

.card-image-one { 
    width: 48px;
    height: 48px;
   
 }
.Service-card1{
   display: grid;
   /* width: 370px; */
   height: 278px;
   background-color: rgb(234, 231, 231) ;
   align-content: space-evenly;
   padding: 20px;
   
   
}
.card-image-two{
    width: 48px;
    height: 48px;
}
 .Service-card2 {
    display: grid;
   
    height: 278px;
    background-color: rgb(234, 231, 231) ;
    align-content: space-evenly;
    padding: 20px;
 }

 .card-image-three{
    width: 48px;
    height: 48px;
 }
 .Service-card3 {
    display: grid;
    width: 320px;
    height: 278px;
    background-color: rgb(234, 231, 231) ;
    align-content: space-evenly;
    padding: 20px;
 }
 
.Services-body{
    display: flex;
    width: 100px;
    justify-content: space-around;
    gap: 40px;
    margin-top: 100px;
    height: 400px;
}

.servicetwo{
height: 999px;
width: 1200px;

}

.Service-head1 {
    width: 675px;
    height: 142px;
    margin-left: 150px;
}
.Service-head > h6{
    text-align: center;  
   
}


.Service-head{
    
   width: 1000px;

}

.service-tra{
     
      width: 900px;
      height: 426px;
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
 
} 
.slider{
      justify-content: center;
      position: relative;
      bottom: 90px;
      
    
}

.service-vac {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.Element {
    position: relative;
    left: 250px;
    bottom: 100px;
}
.slider2 {
    position: relative;
    bottom: 70px;
}

.mike {

    display: flex;
    gap: 40px;
    width: 1000px;
    margin-top: 50px;
    height: 300px;
    margin-top: 200px;
    margin-bottom: 340px;
}

.taylor {
   
    height: 400px;
    width: 500px;
}
.taylor > p{
    font-size: 4.2rem;
    width: 400px;
    
}
.Sliderbtn {
  position: relative;
  right: 130px;
}


.Client-2 {
    position: relative;
    bottom: 300px;
    left: 60px;
    
}
.Element-two {
    position: relative;
    bottom: 20px;
    right: 140px;

}

.lastblog {
    margin-left: 50px;
}
.latest{
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 0px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Slider-three {
    margin-left: 70px;
}
.deals {
        
    height: 800px;
}
.searchbar > input {
    width: 800px;
}
.subscribe {
   
    height: 300px;
    width: 1000px;
    margin-top: 200px;
    color: aliceblue;
    border-radius: 10px;
   
}
.subscribe > h2 {
    position: relative;
    top: 50px;
  
}
 .subscribe >p {
    margin-top: 100px;
} 
 .searchbar [type="text"] {
    margin-top: 80px;
    margin-left: 150px;
    font-size: 25px; 
    width: 800px;
    height: 50px;
    border: none;
    border-radius: 5px;  
 } 

 .subbutton {
    width: 130px;
    height: 40px;
    background-color: #fa7436; 
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 406px;
    bottom: 68px;
 }
.Element5 {
    width: 10px;
    height: 10px;
}
 .Element5 >img {
    /* height: 15px; */
    /* width:  400px; */
    position: relative;
    bottom: 283px;
    left: 1px;
 }
 .Element6 {
   height: 10px;
 }
 .Element6 > img {
     position: relative;
     bottom: 280px;
     left:  440px;
   
 }
 .final {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 230px;
    width: 1000px;
    
 }
 .first > p {
    color: black;
    font-size: 20px;
    width: 300px;
 }
 .second {
    color: black;
    font-size: 20px;
    width: 300px;
 }
 .third {
    color: black;
    font-size: 20px;
    width: 300px;
 }
 .fourth {
    color: black;
    font-size: 20px;
    width: 300px;
 }
 .end {
    display: flex;
    color: black;
    justify-content: space-between;

 }
 .Service-headone {
    justify-content: center;
 }
@media screen and (max-width: 576px) { 
   .navbar{
    width: 50px;
    margin-bottom: 100px;
   }
   .scondhead {
    display: grid;
   }
   .tree {
    width: 100%;
    display: grid;
   }
  
   .travel-container {
    position: relative;
    left: 0px;
   }
   .Service-head {
    width: 500px;
   }
   .Services-body {
    display: grid;
   }
   .servicetwo {
    margin-top: 700px;
    width: 500px;
   }
   .Service-head1 {
    width: 400px;
    margin-right: 800px;
    margin-left: 1px;
   }
   .tex {
    justify-content: flex-start;
   }
   .service-vac {
    display: grid;
    justify-content: flex-start;
   }
   .slider {
   position: relative;
   right: 400px;
   top: 950px;
   }
   .service-tra {
      display: grid;
      justify-content: flex-start;
      margin-bottom: 100px;
   }
  
   .Service-headone > h2,h6{
   display: flex;
   margin-top: 850px;
 
    }
   .Element {
   margin-right: 600px;
   }
   .slider2 {
    margin-right: 700px;
   }
   .mike {
    display: grid;
   justify-content: flex-start;
   }
   .lastblog {
    margin-right: 600px;
    margin-top: 550px;
   }
   .latest {
    display: grid;
   position: relative;
   right: 300px;
   }
   .Slider-three {
    margin-right: 700px;
   }
   .deals {
    display: flex;
    width: 800px;
    height: 200px;
   }
   .subscribe {
    width: 1000px;
   }
   
   .final {
    display: grid;
    justify-content: flex-start;
    gap: 20px;
   
   }
   .end {
    display: grid;
    position: relative;
    top: 600px;
   }
  
}
